@model EmployeeModel

<div class="App_search">
    <header class="App_header">
        <nav class="App_header__top-nav">
            <div class="container">
                <a href="#" data-target="nav-main" class="top-nav sidenav-trigger full" style="display: block;"><i class="material-icons">menu</i></a>
                <div class="App_header__logo logo">
                    <img src="/static/img/logo.jpg" alt="logo">
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">

                <div class="App_title__main">
                    <h1>Aİlə üzvlərİ<span>Hal-hazırda Sanatorİyada olan ailə üzvləri </span></h1>
                </div>


                <div class="row App_form-back">
                    <div class="row">
                        <div class="col">
                            <a class="waves-effect waves-light btn" href="@Url.Action(" FamilyTemporaryQuitAll", "EmployeesFamily" , new { MemberId=Model.Id, type="1" }, null)"><i class="material-icons left">add_circle</i>Ümumi çıxış</a>
                        </div>
                    </div>
                    <table class="responsive-table highlight App_table" id="mainTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Şəkil</th>
                                <th>Adı</th>
                                <th>Soyadı</th>
                                <th>Ata adı</th>
                                <th>Əməkdaşla birlikdə</th>
                                <th>Qohumluq dərəcəsi</th>
                                <th>Qeyd</th>
                                <th>Post</th>
                                <th>Giriş tarixi</th>
                                <th>Çıxış tarixi</th>
                                <th>Müvəqqəti giriş/çıxışlar</th>
                                <th>Müvəqqəti giriş/çıxış</th>
                                <th>Birdəfəlik çıxış</th>
                            </tr>
                        </thead>

                        <tbody>

                            @for (int i = 0; i < Model.Family.Count; i++)
                            {
                            <tr>
                                <td>@(i + 1)</td>
                                <td><img src="@Model.Family[i].IdCardInformation.Image" width="60" /></td>
                                <td>@Model.Family[i].IdCardInformation.Name</td>
                                <td>@Model.Family[i].IdCardInformation.Surname</td>
                                <td>@Model.Family[i].IdCardInformation.FatherName</td>
                                <td>@(Model.IsAttended ? "Bəli" : "Xeyr")</td>
                                <td>@Model.Family[i].RelativeType</td>
                                <td>
                                    <a class="waves-effect waves-light btn App_btn__withIcon modal-trigger" href="#notemodal_@i">
                                        <i class="material-icons left">edit_note</i>
                                    </a>
                                </td>
                                <td>@Model.Family[i].PersonWithType.Crossing.Where(x => x.InputOrOutput == true && x.Permanent == true).FirstOrDefault().Creator.Username</td>
                                <td>@Model.Family[i].PersonWithType.Crossing.Where(x => x.InputOrOutput == true && x.Permanent == true).FirstOrDefault().CrossingTime</td>

                                <td>

                                    @{
                                    bool checkExitt = (Model.Family[i].PersonWithType.Crossing.Where(x => x.InputOrOutput == false && x.Permanent == true).FirstOrDefault() != null);
                                    if (checkExitt)
                                    {
                                    @Model.Family[i].PersonWithType.Crossing.Where(x => x.InputOrOutput == false && x.Permanent == true).FirstOrDefault().CrossingTime
                                    }
                                    else
                                    {
                                    <p> Çıxış edilməyib </p>
                                    }
                                    }
                                </td>
                                <td>
                                    @{
                                    var temprorayOutputList = Model.Family[i].PersonWithType.Crossing.Where(x => x.InputOrOutput == false && x.Permanent == false).ToList().OrderBy(p => p.CrossingTime).ToList();
                                    var temprorayInputList = Model.Family[i].PersonWithType.Crossing.Where(x => x.InputOrOutput == true && x.Permanent == false).ToList().OrderBy(p => p.CrossingTime).ToList();
                                    var checkCount = temprorayInputList.Count;
                                    string content = "";
                                    }
                                    @if (temprorayOutputList.Count > 0)
                                    {
                                    <select>
                                        <option value="0" selected style="color: white !important;">Tarixlər</option>
                                        @for (int g = 0; g < temprorayOutputList.Count; g++)
                                        {
                                        <option value="1">
                                            @if (g < temprorayInputList.Count)
                                            {
                                            content = "Çıxış :" + temprorayOutputList[g].CrossingTime + "-" + "Giriş :" + temprorayInputList[g].CrossingTime;
                                            }
                                            else if (g == temprorayInputList.Count)
                                            {
                                            content = "Çıxış :" + temprorayOutputList[g].CrossingTime + "-" + "Giriş :" + "Giris edilmeyib";
                                            }
                                            @content
                                        </option>
                                        }
                                    </select>
                                    }
                                    else
                                    {
                                    <p> Yoxdur </p>
                                    }
                                </td>
                                <td>
                                    @{
                                    var familyCrossingList = Model.Family[i].PersonWithType.Crossing.Where(x => x.Permanent == false).ToList().OrderBy(p => p.CrossingTime).ToList();
                                    bool? checkPermanentExitForTemporary = (Model.Family[i].PersonWithType.Crossing.Where(x => x.InputOrOutput == false && x.Permanent == true).FirstOrDefault() != null);
                                    bool? checkTemporaryEnterance = false;
                                    if (familyCrossingList.Count > 0)
                                    {
                                    checkTemporaryEnterance = familyCrossingList[familyCrossingList.Count - 1].InputOrOutput;
                                    }
                                    }
                                    @if (checkPermanentExitForTemporary==true)
                                    {
                                    <p> Birdəfəlik çıxış edilib </p>
                                    }
                                    else
                                    {
                                    if (familyCrossingList.Count > 0)
                                    {
                                    if (checkTemporaryEnterance==true)
                                    {
                                    <a class="waves-effect waves-light btn orange darken-4 App_btn__withIcon" href="@Url.Action(" FamilyMembertemporaryExitOrEnter", "EmployeesFamily" , new { employeeID=Model.Id, familyMemberID=Model.Family[i].Id, inputOutput="0" },null)"><i class="material-icons left">logout</i></a>
                                    }
                                    else
                                    {
                                    <a class="waves-effect waves-light btn teal darken-4 App_btn__withIcon" href="@Url.Action(" FamilyMembertemporaryExitOrEnter", "EmployeesFamily" , new { employeeID=Model.Id, familyMemberID=Model.Family[i].Id, inputOutput="1" },null)"><i class="material-icons left">login</i></a>
                                    }
                                    }

                                    else
                                    {
                                    <a class="waves-effect waves-light btn orange darken-4 App_btn__withIcon" href="@Url.Action(" FamilyMembertemporaryExitOrEnter", "EmployeesFamily" , new { employeeID=Model.Id, familyMemberID=Model.Family[i].Id, inputOutput="0" },null)"><i class="material-icons left">logout</i></a>

                                    }

                                    }
                                </td>
                                <td>
                                    @{
                                    bool checkExit = (Model.Family[i].PersonWithType.Crossing.Where(x => x.InputOrOutput == false && x.Permanent == true).FirstOrDefault() != null);
                                    }

                                    @if (checkExit)
                                    {
                                    <p> Birdəfəlik çıxış edilib </p>
                                    }
                                    else
                                    {
                                    @*<a class="waves-effect waves-light btn red darken-3 App_btn__withIcon" href="@Url.Action(" FamilyMemberpermenantExit", "EmployeesFamily" , new { employeeID=Model.Id, familyMemberID=Model.Family[i].Id},null)"><i class="material-icons left">logout</i></a>*@
                                    <a class="waves-effect waves-light btn red darken-3 App_btn__withIcon modal-trigger permanentExitBtn" data-id="@Model.Family[i].Id" data-employeeid="@Model.Id" href="#modal_exit"><i class="material-icons left">logout</i></a>

                                    }

                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

</div>



<div id="modal_exit" class="modal">
    <div class="modal-content" style="padding-bottom: 0 !important;">
        <h4 class="white-text">Çıxış qeydi</h4>
        <hr />

        <div class="row">
            <div class="App_form-back">
                <div class="input-field col s12">
                    <i class="material-icons prefix" style="color: #1ef3df !important;">mode_edit</i>
                    <textarea id="permanentExitNote" class="materialize-textarea white-text"></textarea>
                    <label for="permanentExitNote" class="white-text">Qeyd əlavə edin</label>
                </div>

                <input type="datetime-local" id="permanentExitTime" class="white-text">
            </div>
        </div>
    </div>
    <div class="modal-footer" style="padding-right: 24px;">
        <button asp-action="EmployeeExit" id="modalExitBtn" class="modal-close white-text waves-effect waves-green btn">Çıxış et</button>
    </div>
</div>


@for (int i = 0; i < Model.Family.Count; i++)
{
<div id="notemodal_@i" class="modal">
    <div class="modal-content">
        <p class="modal_title_text">Qeyd</p>
        <hr />
        <p class="modal_content_text">
            @Model.Family[i].PersonWithType.Crossing.Where(x => x.InputOrOutput == true && x.Permanent == true).FirstOrDefault().Note
        </p>
    </div>
</div>
}





<script>
    $(document).ready(function () {
        const localization = {
            info: "Hal-hazırda ümümi _TOTAL_ məlumatdan _START_ - _END_ aralığında göstərilir",
            "paginate": {
                "first": "İlk",
                "last": "Son",
                "next": "Sonrakı",
                "previous": "Əvvəlki"
            },
        }

        $('#mainTable').DataTable({
            responsive: true,
            language: localization,
            buttons: {
                dom: {
                    button: {
                        tag: "button",
                        className: "waves-effect waves-light btn mrm"
                    }
                },
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']

            }
        });
        $('select').formSelect();


        $('.permanentExitBtn').click(function () {
            let dataId = $(this).data('id');
            let dataEmployeeId = $(this).data('employeeid');

            $('#modalExitBtn').click(function (e) {
                e.preventDefault();
                let exitNote = $('#permanentExitNote').val();
                let exitTime = $('#permanentExitTime').val();
                fetch(`/EmployeesFamily/FamilyMemberpermenantExit?employeeID=${dataEmployeeId}&familyMemberID=${dataId}&note=${exitNote}&time=${exitTime}`).then(res => res.json()).then(data => {
                    if (data == "OK") {
                        location.reload();
                    } else {
                        alert('Əlavə edilmədi.Zəhmət olmasa yenidən yoxlayın!');
                    }
                });
            });


        });
    });
</script>